body{
    margin: 0;
}

.card{
    position: relative;
    width: 70%;
    height: 380px;
    margin: 15px;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
}



.card .image{
    border-radius: 50%; /* This creates the circle shape */
    width: 100px;
    height: 100px;
    object-fit: cover; /* This will handle how the image fits into the container */
    object-position: center;
}

.hire-btn {
    background-color: #af8c4c; /* Green background */
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Space from the top */
    float: right;
}

.hire-btn:hover {
    background-color: #45a049;
}

/* Ensure the image does not stretch */
.image img {
    width:300px;
    height: 250px;
    text-align: center;
    margin: 0 auto;

}

/* Add some padding and possibly a border to the card */
.card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

/* Add some spacing and style to the text */
.role, .worker_details, .address, .number {
    margin-bottom: 10px;
}

/* Media query to handle responsiveness */
/* @media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .col-md-4, .col-md-8 {
        width: 100%;
    }

    .hire-btn {
        float: none;
        display: block;
        width: 100%;
    }
} */

.services-column {
    margin-top: 20px;
}

.services-column h4 {
    margin-bottom: 10px;
}

.services-list {
    display: flex;
    flex-direction: row;
}

.service-item {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.card .role{
    margin-top: 30px;
    font-size: 40px;
}

.card .worker_details{
    font-weight: bold;
    font-size: 25px;
    margin: 0;
}

.card .description .address{
    margin-bottom: 0;
}

.card .btn{
    border-radius: 10px;
    border-style: none;
    background-color: rgb(16, 116, 71);
    color:#f2f2f2;
    margin-bottom: 5px;
    position: relative;
    width: 260px;
    bottom: 70px;
    right: 70px;
    
}

.card .btn:hover{
    color:#f2f2f2;
    background-color: rgb(34, 211, 131);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.7s;
    
}

.home-section .container .ppupdate{
    margin-top: 20px;
    background: rgb(243, 243, 126);
}

.form-group{
    color: #4CAF50;
    position: relative;
    bottom: 170px;
    left: 380px;
    width: 250px;
}

.review_button button{
    position: relative;
    left: 900px;
    bottom: 200px;
    height: 50px;
    width: 280px;
    background-color: #087826;
    border: none;
    border-radius: 15px;
    color: white
}